<div id="notes">
	 <center>
	<button type="button"  data-toggle="collapse" class="toggleButton" data-target="#writeNotes">Write a Note</button>
	<button type="button"  data-toggle="collapse" class="toggleButton" data-target="#myNotes">show Notes</button>
	<div id="writeNotes" class="collapse" class="form-group" >
	  <label for="comment">write your memo</label>
	  <textarea class="form-control" rows="10" id="comment" ng-model="memo"></textarea>
	  <button ng-click="save()" class="Notesbutton">Save</button>
	  <button ng-click="save()" class="Notesbutton">Send</button>
	  </center>
	</div>
	<div id="myNotes" class="collapse">
	alksbvhiasncsa[klcmnja
	alknsvb jhasnv[aslc
	amv abvlaksf
	aanvljbolsv
	]sdnosnvosv
	]sdvlsnvksdfv
	]sndlvn;ksddv
	ddvnlsnvlksv
	sddvnvlsv
		
	</div>

</div>