<div id="notes">
  </br>
  
  <button class="button"type="button"  data-toggle="collapse" class="toggleButton" data-target="#writeNotes">Write a Note</button>
  <button class="button" type="button"  data-toggle="collapse" class="toggleButton" data-target="#myNotes">show Notes</button>
  

 
   <!--   <div id="myNotes" class="collapse">
    <div class="mycolor myNotes" ng-repeat='data in Notes.data'>
    <ul list-style: none;>
      <div ng-repeat='d in data'>
        <li>{{d['content']}}</li>
    </div>
    </ul>
  </div>
-->
  <div id="myNotes" class="collapse" >
   <ul list-style: none;>
  dfdf
  <div class="mycolor myNotes" ng-repeat="note in notes">
     <div ng-repeat='d in data'>

        <li>{{d['content']}}</li>
    </div>

  </div>  
  </ul>
  </div>
 
 <div id="writeNotes" class="collapse content">
    <div id="header">
      <div class="title"> 
      </div>
    </div>
    <div id="main">
      <div class="center">
      <h2>Write Your Note</h2>
        <div id="notes">
        <br><br>
        <textarea style="background:transparent; border-width: 4px; border-color:rgb(131, 64, 10); font-size: 14pt;" rows="15" cols="45" ng-mode="memo"></textarea>
             <br><br><br>
           
        <button class="button" ng-click="save()" class="Notesbutton">Send</button>
        <button class="button-notes" ng-click="save()" >Save</button>
        </div>
      </div>  
    </div>
    <div id="prefooter">
    </div> 
</div>




 
